<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!--    my name is anthony-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Parking form</title>



    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" href="/static/css/style.css" rel="stylesheet" type="text/css"/>
	<link rel = "icon" href = "https://img.icons8.com/color/50/000000/parking.png"/>" type = "image/x-icon">
    <!--  -->
    <style>

        .theForm{
            margin-left : 32%;
            margin-top: 150px;
        }
    </style>
</head>

<body>

<div th:insert="~{/fragments/header :: header}"></div>

<div class="container-addForm">





    <form class="theForm" action="#" th:action="@{/user/save}" th:object="${parking}"
     method="POST" style=" color:white; padding:20px;width: 80%!important;">
        <h2 class="h4 mb-4" >Book a Slot</h2>
        <input type="text" th:field="*{parkingName}"
               class="form-control mb-4 col-4" placeholder="Slot name"/>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('parkingName')}" th:errors="*{parkingName}" style="width:350px;"></div>

        <input type="text" th:field="*{countrey}"
               class="form-control mb-4 col-4" placeholder="Country"/>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('countrey')}" th:errors="*{countrey}" style=width:350px></div>


        <input type="text" th:field="*{city}"
               class="form-control mb-4 col-4" placeholder="City"/>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}" style=width:350px></div>


        <input type="text" th:field="*{adress}"
               class="form-control mb-4 col-4" placeholder="Address"/>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('adress')}" th:errors="*{adress}" style=width:350px></div>


        <input type="text" th:field="*{ppn}"
               class="form-control mb-4 col-4" placeholder="Price/hour"/>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('ppn')}" th:errors="*{ppn}" style=width:350px></div>

        <input type="text" th:field="*{service}"
               class="form-control mb-4 col-4" placeholder="Services"/>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('service')}" th:errors="*{service}" style=width:350px></div>






        <button type="submit" class="btn btn-info col-2">Book</button>
    </form>

    <hr>
    
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
<style>
	body{
		background-image: url('https://wallpaperaccess.com/full/303003.jpg');
		background-size: cover;
	}
</style>
</html>
