<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Inspect profile</title>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link th:href="@{/css/style.css}" href="/static/css/style.css" rel="stylesheet" type="text/css"/>
	<link rel = "icon" href = "https://img.icons8.com/color/50/000000/parking.png"/>" type = "image/x-icon">
    <style>
        .box{
            display: table;
            margin: 0 auto;
            border: 1px solid black
        }
        img {
  			border-radius: 50%;
		}

    </style>

</head>

<body>

<div th:insert="~{/fragments/header :: header}"></div>


<div class="container">
	<br><br><br>
    <section class="">
        <div class="">
            <h1 class="" style="text-align: center;color: #212529">My profile</h1>
        </div>
    </section><br>

    <div class="box" style="border-collapse:separate;
    border:solid black 1px;;border-radius: 20px!important">
        <div class="row" >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSClqxVXOq5xQWJNkEPeVlI8wzCeCWjRj9yXK59aDuh5to_51lPmLrMsMtspPsH5pXZf4k&usqp=CAU"
	            class="img-fluid img-thumbnail"  alt="parking" >
            <div class="col-md-5" th:object="${user}" method="POST">
            <table >
            	<tr>
            		<td style="font-weight: bolder;"><p th:text="'User Name:'"></p></td>
            		<td><p th:text="${user.userName}"></p></td>
            	</tr>
                <tr>
                    <td style="font-weight: bolder;"><p th:text="'E-mail : '"></p></td>
                    <td><p th:text="${user.email}"></p></td>
                </tr>
            	<tr>
            		<td style="font-weight: bolder;"><p th:text="'Reservations made:'"></p></td>
            		<td><p th:text="${size}"></p></td>
            	</tr>
                <tr>
            		<td style="font-weight: bolder;"><p th:text="'Total spent:'"></p></td>
            		<td><p th:text="'Rs '+${sum}"></p></td>
            	</tr>
            	<tr>
            		<td style="font-weight: bolder;"><p th:text="'Phone number:'"></p></td>
            		<td><p th:text="${user.phone}"></p></td>
            	</tr>
            </table>
            </div>


        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
<style>
	body{
		background-image: url('https://wallpaperaccess.com/full/303003.jpg');
		background-size: cover;
	}
</style>
</html>
