<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Active bookings</title>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link th:href="@{/css/style.css}" href="/static/css/style.css" rel="stylesheet" type="text/css"/>
	<link rel = "icon" href = "https://img.icons8.com/color/50/000000/parking.png"/>" type = "image/x-icon">
    <!--  -->


</head>

<body>

<div th:insert="~{/fragments/header :: header}"></div>

<div class="container-bookings">



    <h3>Curent owned parkings</h3>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Parking Name</th>
            <th>Parking City</th>
            <th>Parking Countrey</th>
            <th>Parking Adress</th>
            <th>Starting</th>
            <th>Ending</th>
            <th>Cancel reservation</th>




        </tr>
        </thead>

        <tbody>
        <tr th:each="tempBookings : ${bookings}">

            <td th:text="${tempBookings.parking.getParkingName()}"/>
            <td th:text="${tempBookings.parking.getCity()}"/>
            <td th:text="${tempBookings.parking.getCountrey()}"/>
            <td th:text="${tempBookings.parking.getAdress()}"/>
            <td th:text="${tempBookings.checkIn.toString().substring(0,10)}"/>
            <td th:text="${tempBookings.checkOut.toString().substring(0,10)}"/>



            <td text="delete">
                <a th:href="@{|/worker/deleteBooking/${tempBookings.bookingId}|}"
                   class="btn btn-primary">
                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                </a>
            </td>





        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
<style>
	body{
		background-image: url('https://wallpaperaccess.com/full/303003.jpg');
		background-size: cover;
	}
</style>
</html>
