<!DOCTYPE html>

<html th:fragment="layout (template, menu)"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <!-- FontAwesome Kit -->
    <script src="https://kit.fontawesome.com/ffbf81b659.js" crossorigin="anonymous"></script>
    <title>HEADER</title>


</head>
<body class="d-flex flex-column">
<div th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info" style="background-color: #2a4651!important">
        <a th:href="@{/}" class="navbar-brand" >Parking Slot Booking</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar"
                aria-controls="collapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsingNavbar">
            <ul class="navbar-nav ml-auto w-100 justify-content-end">
                <li class="nav-item">
                    <a th:href="@{/}" class="nav-link" href="#">
                    <i class="fa fa-home" aria-hidden="true"></i>
                           Home 
                    <span class="sr-only">(current)</span></a>
                </li>
       <!--             <div sec:authorize="hasAuthority('ROLE_USER')">
                        <li class="nav-item">
                           <a th:href="@{/parkings}" class="nav-link" href="#"><i class="fas fa-car"></i>&nbsp;Stays</a>
                        </li>
                  </div>   -->
                <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                    <li class="nav-item">
                        <a th:href="@{/parkings}" class="nav-link" href="#"><i class="fas fa-car"></i>&nbsp;Parkings</a>
                    </li>
                </div>

<!--                <div sec:authorize="hasAuthority('ROLE_WORKER')">-->
<!--                    <li class="nav-item">-->
<!--                        <a th:href="@{/parkings}" class="nav-link" href="#"><i class="fas fa-car"></i>&nbsp;Parkings</a>-->
<!--                    </li>-->
<!--                </div>-->
<!--                <div sec:authorize="isAnonymous()">-->
<!--                    <li class="nav-item">-->
<!--                        <a th:href="@{/parkings}" class="nav-link" href="#"><i class="fas fa-car"></i>&nbsp;Stays</a>-->
<!--                    </li>-->
<!--                </div>-->
<!--                <li class="nav-item">-->
<!--                    <a th:href="@{/contact}" class="nav-link" href="#">Contact</a>-->
<!--                </li>-->

                <li class="nav-item">
                    <a th:href="@{/aboutUs}" class="nav-link" href="#"><i class="fas fa-info-circle"></i>&nbsp;About Us</a>
                </li>
                
                <li class="nav-item">
                	<div sec:authorize="isAuthenticated()">
                        
                       
                            <div sec:authorize="hasAuthority('ROLE_ADMIN')">
								
                                <span class="nav-link"><i class="fas fa-user-shield"></i>&nbsp;ADMIN</span>
                                
                              
                            </div>
                            
                            <div sec:authorize="hasAuthority('ROLE_USER')">
								
                                <span class="nav-link"><i class="fa fa-user"></i>&nbsp;USER</span>
                                
                              
                            </div>

                        <div sec:authorize="hasAuthority('ROLE_WORKER')">

                            <span class="nav-link"><i class="fas fa-tools"></i>&nbsp;WORKER</span>


                        </div>
                    </div>
                
                
                </li>
                
                
                

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <span>My Account</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">

                        <div sec:authorize="isAnonymous()">

                            <a href="/login" class="dropdown-item">Log in</a>
                            <a href="/registration" class="dropdown-item">Register</a>
                        </div>


                        <div sec:authorize="isAuthenticated()">
                        
                       
                            <div sec:authorize="hasAuthority('ROLE_ADMIN')">

                                <!--  <a href="/admin" class="dropdown-item">Admin options</a>-->
                                
                                <a th:href="@{/admin/users}" class="dropdown-item">View user list</a>
                                <a th:href="@{/admin/worker}" class="dropdown-item">View worker list</a>
                                <a th:href="@{/admin/workers/registerworker}" class="dropdown-item" > Add Workers</a>
                                <a th:href="@{/admin/showFormForAdd}" class="dropdown-item">Add a Parking Slot</a>
                                <a th:href="@{/admin/deleteParkings}" class="dropdown-item">Delete Parking Slot</a>
                                <a th:href="@{/admin/pendingParkings}" class="dropdown-item">Approve/Deny Parking requests</a>

                            </div>
                            
                            
                            <div sec:authorize="hasAuthority('ROLE_USER')">
                                
                                <a th:href="@{/user/viewProfile}" class="dropdown-item">View profile</a>
                                <a th:href="@{/parkings}" class="dropdown-item">Book Parking Slots</a>
<!--                                <a th:href="@{/user/showFormForAdd}" class="dropdown-item">Add a Parking Slot</a>-->
<!--                                <a th:href="@{/user/stays}" class="dropdown-item">My Parking Slots</a>-->
                                <a th:href="@{/user/myBookings}" class="dropdown-item">Check your bookings!</a>
                               
                                

                            </div>
                            
                            
                            <div sec:authorize="hasAuthority('ROLE_WORKER')">
                                <a th:href="@{/worker/viewProfile}" class="dropdown-item">&nbsp;View profile</a>
                                <a th:href="@{/worker/showFormForAdd}" class="dropdown-item">&nbsp;Add a Parking Slot</a>
                                <a th:href="@{/worker/stays}" class="dropdown-item">My Slots</a>
                                

                            </div>
                            

<!--                            <div class="dropdown-divider"></div>-->

                        </div>
                    </div>
                </li>
                <li class="nav-item">
                	<div sec:authorize="isAuthenticated()">
                		<a href="/logout" class="nav-link">
                		<i class="fas fa-sign-out-alt"></i>
                		Log out
                		</a>
                	</div>
                </li>
                
                

            </ul>

        </div>
    </nav>

</div>

</body>


</html>


