<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title> Contact Email</title>
    <link rel = "icon" href = "https://img.icons8.com/color/50/000000/parking.png"/>" type = "image/x-icon">
</head>
<body>
<table>
    <tbody>
    <tr>
        <td>Customer's Name: </td>
        <td><span th:text="${name}"></span></td>
    </tr>
    <tr>
        <td>Customer's Email: </td>
        <td><span th:text="${email}"></span></td>
    </tr>
    <tr>
        <td>Subject: </td>
        <td><span th:text="${subject}"></span></td>
    </tr>
    <tr>
        <td>Message: </td>
        <td><span th:text="${message}"></span></td>
    </tr>

    </tbody>
</table>
</body>
</html>
